.u-section-1 .u-sheet-1 {
  min-height: 778px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.875rem;
  margin: 45px 481px 0 54px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 12px 694px 0 54px;
}

.u-section-1 .u-image-1 {
  width: 280px;
  height: 382px;
  --radius: 22px;
  object-position: 50% 0%;
  margin: 29px auto 0 103px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -382px 122px 0 570px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 12px 72px 0 570px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  --radius: 23px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 37px auto 0 122px;
  padding: 18px 44px 19px 43px;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -75px 459px 0 570px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 12px 64px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 432px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-right: 527px;
    margin-left: 21px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 33px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -389px;
    margin-right: 22px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 470px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 60px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -78px;
    margin-right: 359px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 115px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 328px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 34px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -382px;
    margin-right: 0;
    margin-left: 351px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 344px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -72px;
    margin-right: 249px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 148px;
  }

  .u-section-1 .u-image-1 {
    width: 237px;
    height: 319px;
    margin-top: 45px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: -335px;
    margin-right: 29px;
    margin-left: 299px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    margin-top: 16px;
    margin-left: 254px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -113px;
    margin-left: 11px;
    padding-right: 31px;
    padding-left: 31px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 76px;
    margin-right: 159px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-left: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
    margin-top: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: 253px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: 253px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 225px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 111px;
    margin-top: -263px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: 253px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 764px;
}

.u-section-2 .u-group-1 {
  width: 295px;
  min-height: 75px;
  height: auto;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 29px 23px 0;
}

.u-section-2 .u-text-2 {
  width: 676px;
  font-size: 1rem;
  margin: 51px auto 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 74px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: -14px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 35px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 35px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    font-size: 0.875rem;
    margin-top: 30px;
    margin-bottom: 32px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 766px;
}

.u-section-3 .u-group-1 {
  min-height: 76px;
  height: auto;
  width: 266px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 19px 23px 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-size: 1rem;
  margin: 38px auto 55px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    font-size: 0.875rem;
    margin-bottom: 38px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 542px;
}

.u-section-4 .u-group-1 {
  min-height: 104px;
  height: auto;
  width: 409px;
  margin: 21px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 19px 23px 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 55px 241px 60px 219px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    width: 680px;
    margin-left: 119px;
    margin-right: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 56px;
    margin-bottom: 56px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 652px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 532px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-image-1 {
  height: 352px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 100%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-image-2 {
  height: 352px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 439px;
  }

  .u-section-5 .u-image-1 {
    height: 283px;
  }

  .u-section-5 .u-image-2 {
    height: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 928px;
  }

  .u-section-5 .u-image-1 {
    height: 456px;
  }

  .u-section-5 .u-image-2 {
    height: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 359px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 359px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 221px;
  }

  .u-section-5 .u-image-2 {
    height: 221px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 109px;
}