 .u-section-1 {
  min-height: 713px;
}

.u-section-1 .u-sheet-1 {
  min-height: 627px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3rem;
  width: 392px;
  margin: 45px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 409px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px 26px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 8px 0 0 478px;
}

.u-section-1 .u-group-1 {
  min-height: 52px;
  height: auto;
  width: 465px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -45px 80px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px 0 0;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 13px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px 26px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 8px 0 0 478px;
}

.u-section-1 .u-group-2 {
  min-height: 52px;
  height: auto;
  width: 465px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -45px 80px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 13px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px 26px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 8px 0 0 478px;
}

.u-section-1 .u-group-3 {
  min-height: 52px;
  height: auto;
  width: 465px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -45px 80px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 13px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 10px 26px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 8px 0 0 478px;
}

.u-section-1 .u-group-4 {
  min-height: 52px;
  height: auto;
  width: 465px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -45px 80px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin: 13px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 493px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 338px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 392px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 116px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 392px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 116px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 392px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 116px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 392px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 51px;
    width: 516px;
    margin-right: 184px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 22px;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 51px;
    width: 516px;
    margin-right: 184px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-8 {
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 51px;
    width: 516px;
    margin-right: 184px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 22px;
  }

  .u-section-1 .u-text-11 {
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: 51px;
    width: 516px;
    margin-right: 184px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-1 {
    margin-right: 4px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 4px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 4px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2rem;
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-1 {
    min-height: 70px;
    width: 259px;
    margin-top: -57px;
    margin-right: 61px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 22px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-2 {
    min-height: 70px;
    width: 259px;
    margin-top: -59px;
    margin-right: 61px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 9px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 22px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-3 {
    min-height: 70px;
    width: 259px;
    margin-top: -57px;
    margin-right: 61px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 11px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 22px;
    margin-right: 2px;
  }

  .u-section-1 .u-group-4 {
    min-height: 70px;
    width: 259px;
    margin-top: -57px;
    margin-right: 61px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 11px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.29) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.29) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before,
.u-section-1 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-3,
.u-section-1 .u-group-3:before,
.u-section-1 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-3.u-group-3.u-group-3:hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-group-3.u-group-3.u-group-3.hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-12,
.u-section-1 .u-text-12:before,
.u-section-1 .u-text-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-12.u-text-12.u-text-12:hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-text-12.u-text-12.u-text-12.hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-text-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 1138px;
}

.u-section-2 .u-group-1 {
  width: 575px;
  min-height: 131px;
  height: auto;
  margin: 28px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 15px 23px 0;
}

.u-section-2 .u-text-2 {
  width: 758px;
  margin: 25px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-2 .u-group-1 {
    min-height: 107px;
    margin-top: 9px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -2px;
    margin-bottom: -2px;
  }

  .u-section-2 .u-text-2 {
    width: 449px;
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: -14px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
    margin-left: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 109px;
}